:root {
  --background-blue-dark: #2f303a;
  --color-light-blue: #2196f3;
  --color-white: #ffffff;
  --color-gray-with-shadow: rgba(117, 117, 117, 1);
  --color-gray-footer: rgba(255, 255, 255, 0.6);
  --color-team: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  background-color: var(--color-white);
  letter-spacing: 0.03em;
}
.links {
  text-decoration: none;
}
.links:hover {
  color: var(--color-light-blue);
}
.links:focus {
  color: var(--color-light-blue);
}
.buttons:hover {
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-light-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons {
  border-radius: 4px;
  border: none;
}
.buttons:focus {
  color: var(--color-white);
  background-color: var(--color-light-blue);
}
.hola {
  width: 1200px;
}
.web-studio-header {
  position: absolute;
  left: 15px;
  top: 24px;
  text-align: right;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--color-light-blue);
}
.web-studio:visited {
  color: var(--color-light-blue);
}
.items {
  list-style: none;
}
.header-nav-list-item-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}
.study {
  position: absolute;
  left: 253px;
  top: 32px;
}
.briefcase {
  position: absolute;
  left: 352px;
  top: 32px;
}
.contact {
  position: absolute;
  left: 467px;
  top: 32px;
}
.gmail {
  position: absolute;
  left: 878px;
  top: 32px;
}
.number {
  position: absolute;
  left: 1063px;
  top: 32px;
  display: flex;
  gap: 50px;
}
.light-blue {
  color: var(--color-light-blue);
}
.information-section-list-item-link {
  color: var(--color-gray-with-shadow);
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.hero {
  background: var(--background-blue-dark);
  text-align: center;
  position: absolute;
  width: 1204px;
  height: 410px;
  top: 80px;
  left: -4px;
}
.hero-tittle {
  position: absolute;
  left: 248px;
  top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  padding: 10px 32px;
  position: absolute;
  left: 466px;
  top: 360px;
}
.atention {
  position: absolute;
  width: 270px;
  left: 15px;
  top: 775px;
}
.puntuality {
  position: absolute;
  width: 270px;
  left: 315px;
  top: 775px;
}
.planification {
  position: absolute;
  width: 270px;
  left: 615px;
  top: 775px;
}
.modern-tecnology {
  position: absolute;
  width: 270px;
  left: 915px;
  top: 775px;
}
.atention-description {
  position: absolute;
  width: 270px;
  left: 15px;
  top: 801px;
}
.puntuality-description {
  position: absolute;
  width: 270px;
  left: 315px;
  top: 801px;
}
.planification-description {
  position: absolute;
  width: 270px;
  left: 615px;
  top: 801px;
}
.modern-tecnology-description {
  position: absolute;
  width: 270px;
  left: 915px;
  top: 801px;
}
.section-features-list-tittle {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
}
.section-features-list-description {
  font-weight: 400;
  line-height: 1.714;
  color: #757575;
}
.section-works-tittle {
  position: absolute;
  width: 371.15px;
  left: 419.43px;
  top: 991px;
}
.programming {
  position: absolute;
  left: 15px;
  top: 1092.3px;
}
.mackup {
  position: absolute;
  left: 418.42px;
  top: 1092.3px;
}
.desing {
  position: absolute;
  left: 815px;
  top: 1092px;
}
.similar-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
}
.section-team {
  background-color: var(--color-team);
}
.section-team-tittle {
  position: absolute;
  left: 469px;
  top: 1604px;
}
.section-team-item-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
}
.section-team-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  color: #757575;
}
.section-team-item {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.andres {
  position: absolute;
  left: 8px;
  top: 1696px;
}
.carla {
  position: absolute;
  left: 315px;
  top: 1696px;
}
.mario {
  position: absolute;
  left: 622px;
  top: 1696px;
}
.pablo {
  position: absolute;
  left: 915px;
  top: 1696px;
}
.footer {
  background-color: var(--background-blue-dark);
  position: absolute;
  width: 1200px;
  height: 252px;
  left: 0px;
  top: 2158px;
}
.web-studio-footer {
  text-align: right;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--color-light-blue);
  position: absolute;
  left: 15px;
  top: 60px;
}
.adress {
  line-height: 1.3;
}
.adress-list-item-link {
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.714;
  font-style: normal;
  position: absolute;
  left: 15px;
  top: 100px;
}
.adress-list-item-contact {
  font-weight: 400;
  line-height: 1.714;
  color: var(--color-gray-footer);
  font-style: normal;
}
.gmail-footer {
  position: absolute;
  left: 15px;
  top: 148px;
}
.number-footer {
  position: absolute;
  left: 15px;
  top: 171px;
}
.header-briefcase {
  background: rgba(255, 255, 255, 1);
  border-bottom: #c0b9b92a 1px solid;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.section-briefacse {
  background: #e5e5e5;
}
.section-briefcase-list-item-buttons {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: #f5f4fa;
}
.button-active {
  color: var(--color-white);
  background-color: var(--color-light-blue);
}
.button-all {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 295px;
  top: 106px;
}
.button-web {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 376px;
  top: 106px;
}
.button-aplications {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 512px;
  top: 106px;
}
.button-desing {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 665px;
  top: 106px;
}
.button-marketing {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 776px;
  top: 106px;
}
.section-second-list-item {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-second-list-item-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-second-list-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}
.item-tecnoduck {
  position: absolute;
  left: 15px;
  top: 194px;
  background: #ffffff;
}
.item-poster {
  position: absolute;
  height: 418px;
  left: 415px;
  top: 194px;
  background: #ffffff;
}
.item-restaurant {
  position: absolute;
  left: 815px;
  top: 194px;
  background: #ffffff;
}
.item-proyect-prime {
  position: absolute;
  left: 15px;
  top: 628px;
  background: #ffffff;
}
.item-proyect-boxes {
  position: absolute;
  left: 415px;
  top: 628px;
  background: #ffffff;
}
.item-inspiration {
  position: absolute;
  left: 815px;
  top: 628px;
  background: #ffffff;
}
.item-edition {
  position: absolute;
  left: 15px;
  top: 1062px;
  background: #ffffff;
}
.item-proyect-lab {
  position: absolute;
  left: 415px;
  top: 1062px;
  background: #ffffff;
}
.item-business {
  position: absolute;
  left: 815px;
  top: 1062px;
  background: #ffffff;
}
.footer-briefcase {
  background-color: var(--background-blue-dark);
  position: absolute;
  width: 1200px;
  height: 252px;
  left: 0px;
  top: 1548px;
}
.section:not(.header-briefcase) {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pointer {
  cursor: pointer;
}
