:root {
  --background-blue-dark: #2f303a;
  --color-light-blue: #2196f3;
  --color-white: #ffffff;
  --color-gray-with-shadow: rgba(117, 117, 117, 1);
  --color-gray-footer: rgba(255, 255, 255, 0.6);
  --color-team: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  background-color: var(--color-white);
  letter-spacing: 0.03em;
}
ul {
  padding: 0px 0px 0px 15px;
}
.links {
  text-decoration: none;
}
.links:hover {
  color: var(--color-light-blue);
}
.links:focus {
  color: var(--color-light-blue);
}
.buttons:hover {
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-light-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons {
  border-radius: 4px;
  border: none;
}
.buttons:focus {
  color: var(--color-white);
  background-color: var(--color-light-blue);
}
.container {
  width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
}
.header-index {
  display: inline-flex;
  gap: 50px;
  flex-direction: row;
}
.web-studio-header {
  text-align: right;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--color-light-blue);
  margin-top: 24px;
  margin-bottom: 25px;
}
.web-studio:visited {
  color: var(--color-light-blue);
}
.items {
  list-style: none;
}
.header-list {
  margin-top: 24px;
}
.header-nav-list-item-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-nav-list {
  display: inline-flex;
  gap: 50px;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
}
.light-blue {
  color: var(--color-light-blue);
}
.information-section-list-item-link {
  color: var(--color-gray-with-shadow);
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.information-section-list {
  display: inline-flex;
  gap: 50px;
  flex-direction: row;
  margin-top: 32px;
  margin-left: 320px;
}
.hero {
  background: var(--background-blue-dark);
  text-align: center;
  width: 1204px;
  height: 410px;
}
.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 106px;
  margin-bottom: 30px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  padding: 10px 32px;
}
.atention {
  width: 270px;
}
.puntuality {
  width: 270px;
}
.planification {
  width: 270px;
}
.modern-tecnology {
  width: 270px;
}
.atention-description {
  width: 270px;
}
.puntuality-description {
  width: 270px;
}
.planification-description {
  width: 270px;
}
.modern-tecnology-description {
  width: 270px;
}
.section-features {
  margin-top: 1px;
}
.section-features-list {
  display: inline-flex;
  flex-direction: row;
  gap: 30px;
}
.section-features-list-tittle {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
}
.section-features-list-description {
  font-weight: 400;
  line-height: 1.714;
  color: #757575;
}
.container > .section-works {
  padding-top: 0px;
}
.section-works-tittle {
  display: flex;
  justify-content: center;
}
.section-works-list {
  display: inline-flex;
  flex-direction: row;
  gap: 30px;
}
.similar-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
}
.section-team {
  background-color: var(--color-team);
  width: 1200px;
  height: 435px;
}
.section-team-tittle {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.section-team-list {
  display: inline-flex;
  flex-direction: row;
  gap: 30px;
  height: 368px;
}
.section-team-item-tittle {
  font-weight: 500;
}
.section-team-item-description {
  font-weight: 400;
  color: #757575;
}
.section-team-item-similar-text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}
.section-team-item {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  background-color: var(--background-blue-dark);
  width: 1200;
  height: 252px;
}
.web-studio-footer {
  text-align: right;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--color-light-blue);
  display: flex;
  padding: 60px 0px 0px 15px;
}
.adress {
  line-height: 1.3;
}
.adress-list {
  margin: 9px 0px 0px 0px;
}
.adress-list-item-link {
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.714;
  font-style: normal;
}
.adress-list-item-contact {
  font-weight: 400;
  line-height: 1.714;
  color: var(--color-gray-footer);
  font-style: normal;
}
.header > .header-briefcase {
  border-bottom: #c0b9b92a 1px solid;
  width: 1200px;
  display: inline-flex;
  padding: 0px 0px 0px 0px;
  gap: 50px;
  flex-direction: row;
}
.section-briefcase-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-top: 106px;
  margin-bottom: 50px;
}
.section-briefcase-list-item-buttons {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: #f5f4fa;
}
.button-active {
  color: var(--color-white);
  background-color: var(--color-light-blue);
}
.button-all {
  width: 73px;
  height: 38px;
}
.button-web {
  width: 128px;
  height: 38px;
}
.button-aplications {
  width: 145px;
  height: 38px;
}
.button-desing {
  width: 103px;
  height: 38px;
}
.button-marketing {
  width: 130px;
  height: 38px;
}
.section-second-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.section-second-list-item {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-second-list-item-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-second-list-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pointer {
  cursor: pointer;
}
